body {
    background: linear-gradient(#ddd, #fff);
}
.b-container {
    width: 1200px;
    margin: 0 auto;
}
.title {
    font-family: Verdana;
    font-size: 50px;
    margin-top: 20px;
    color: #999;
    text-align: center;
    font-weight: normal;
    span {
        color: #666;
    }
}
.m-slider {
    position: relative;
    .m-slider_list {
        position: relative;
        overflow: hidden;
        .m-slider_listElem {
            position: absolute;
            top: 0;
            width: 100%;
            display: none;
            &.is-active {
                position: relative;
                display: block;
            }
        }
    }
    .m-slider_options {
        display: block;
        margin: 30px 0 60px;
        text-align: center;
        .m-slider_btn {
            padding: 20px;
            font-size: 18px;
            color: #ddd;
            border: none;
            width: 200px;
            text-align: center;
            background: linear-gradient(#ccc, #666);
            border-radius: 5px;
            &.is-active {
                    background: linear-gradient(#666, #000);
                    color: #fff;
                &:hover {
                    background: linear-gradient(#f00, #900);
                }
            }

        }
    }
}
